<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/blog">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{nameBlog}"/></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Blog:</td>
            <td><textarea rows="9" cols="70" th:field="*{blog}">

            </textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
</body>
</html>