<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Information</h1>
<p>
    <a href="/blog">Blog list</a>
</p>
<form th:action="@{/delete}" th:object="${blog}" method="get">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${blog.nameBlog}"></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td th:text="${blog.title}"></td>
        </tr>
        <tr>
            <td>Blog:</td>
            <td th:text="${blog.blog}"></td>
        </tr>
    </table>
</form>
</body>
</html>